recursive-include phypy/Conversions *.pyd
recursive-include phypy/DataMatrix *.pyd
recursive-include phypy/Likelihood *.pyd
recursive-include phypy/ProbDist *.pyd
recursive-include phypy/Phylogeny *.pyd
recursive-include phypy/ReadNexus *.pyd

recursive-include phypy/Examples *.py *.nex

recursive-include phypy/Examples/ExplorePrior/reference_output *
prune phypy/Examples/ExplorePrior/reference_output/.svn

recursive-include phypy/Examples/FixedParams/reference_output *
prune phypy/Examples/FixedParams/reference_output/.svn

recursive-include phypy/Examples/GelfandGhosh/reference_output *
prune phypy/Examples/GelfandGhosh/reference_output/.svn

recursive-include phypy/Examples/LikelihoodTest/reference_output *
prune phypy/Examples/LikelihoodTest/reference_output/.svn

recursive-include phypy/Examples/Polytomies/reference_output *
prune phypy/Examples/Polytomies/reference_output/.svn

recursive-include phypy/Examples/Simulator/reference_output *
prune phypy/Examples/Simulator/reference_output/.svn

recursive-include phypy/Tests *.py *.bat




