*.pyc
*.so
*.dylib
go.sh
bin
XCode/phycas/build/
dist
setup_saved.py
hidden_MANIFEST.in
originalMANIFEST.in
MANIFEST
Release
Debug
*.vcxproj*
UpgradeLog*
_UpgradeReport_Files
ipch
*.pdb
*.exp
*.sdf
*.suo
*.lib
*.pyd
*.dll
bin
phycas/*/*.so
phycas/*/*.dylib
*.pyc
documentation/users/cmdsettings.tex
documentation/users/like.tex
*.aux
*.bbl
*.blg
*.idx
documentation/users/manual.log
documentation/users/manual.out
documentation/users/manual.pdf
*.toc
documentation/users/mcmc.tex
documentation/users/model.tex
documentation/users/randomtree.tex
documentation/users/sump.tex
documentation/users/sumt.tex
documentation/users/like.tex
documentation/users/manual.aux
documentation/users/manual.toc
documentation/users/manual.out
documentation/users/manual.aux
documentation/users/manual.bbl
documentation/users/manual.blg
documentation/users/manual.idx
documentation/users/manual.ilg
documentation/users/manual.ind
documentation/users/manual.log
documentation/users/manual.pdf
documentation/users/manual.synctex.gz
phycas/svnver.txt
tags
phycas/Tests/ExplorePrior/nodata.nex.p
phycas/Tests/ExplorePrior/nodata.nex.t
phycas/Tests/ExplorePrior/nodata.nex.txt
phycas/Tests/FixedParams/fixed.p
phycas/Tests/FixedParams/fixed.t
phycas/Tests/FixedParams/output.txt
phycas/Tests/GTRTest/gtr_test.p
phycas/Tests/GTRTest/gtr_test.t
phycas/Tests/GTRTest/output.txt
phycas/Tests/LikelihoodTest/check.nex
phycas/Tests/PDFTree/test.pdf
phycas/Tests/SplitTest/out.txt
phycas/Tests/Sump/logfile.txt
phycas/Tests/Sumt/logfile.txt
phycas/Tests/Sumt/splits.pdf
phycas/Tests/Sumt/trees.pdf
phycas/Tests/Sumt/trees.tre
phycas/Tests/Underflow/output.txt
phycas/Tests/diffs.txt
phycas/Tests/test.pdf
phycas/svnver.txt
