bin
phycas/*/*.so
phycas/*/*.dylib
*.pyc
documentation/users/cmdsettings.tex
documentation/users/like.tex
*.aux
*.bbl
*.blg
*.idx
documentation/users/manual.log
documentation/users/manual.out
documentation/users/manual.pdf
*.toc
documentation/users/mcmc.tex
documentation/users/model.tex
documentation/users/randomtree.tex
documentation/users/sump.tex
documentation/users/sumt.tex

