inprep/Praxis/
inprep/LandPlants/Five
inprep/LandPlants/LandPlants
inprep/LandPlants/.Rhistory
inprep/LandPlants/*.R
inprep/LandPlants/ssgo.sh
inprep/LandPlants/*.pdf
inprep/LandPlants/SS_21_1000_10/
inprep/LandPlants/SS_31_1000_10/
inprep/LandPlants/*.nb
inprep/LandPlants/interact.command
inprep/LandPlants/GTRG-topofixed/
inprep/LandPlants/GTRG-topovaries/
inprep/LandPlants/HKYG/
inprep/LandPlants/idrlog.txt
inprep/LandPlants/obsolete/
phycas/Tests/Simulator/logfile.txt
phycas/oldGG.py
inprep/gogarten/gogarten1000rooted.tre
inprep/hermitcrabs/
XCode/phycas/phycas.xcodeproj/project.xcworkspace/
XCode/phycas/phycas.xcodeproj/xcuserdata/
*.synctex.gz
*.log
*.aux
inprep/gogarten/strictclock_data/
inprep/gogarten/strictclock_nodata/
inprep/gogarten/yule_tree_height/yule_tree_height.pdf
distr_manifest.txt
*.pyc
*.dylib
*.so
MANIFEST
MANIFEST.in
bin
build
dist
tags
Release
Debug
XCode/phycas/build/
documentation/developers/checklist.aux
documentation/developers/checklist.log
documentation/developers/data.aux
documentation/developers/deveoperguide.out
documentation/developers/info.aux
documentation/developers/likelihood.aux
documentation/developers/paramsmoves.aux
documentation/users/cmdsettings.tex
documentation/users/like.tex
documentation/users/manual.log
documentation/users/manual.out
documentation/users/manual.pdf
documentation/users/mcmc.tex
documentation/users/model.tex
documentation/users/randomtree.tex
documentation/users/sump.tex
documentation/users/sumt.tex
documentation/users/like.tex
documentation/users/manual.aux
documentation/users/manual.toc
documentation/users/manual.out
documentation/users/manual.aux
documentation/users/manual.bbl
documentation/users/manual.blg
documentation/users/manual.idx
documentation/users/manual.ilg
documentation/users/manual.ind
documentation/users/manual.log
documentation/users/manual.pdf
documentation/users/manual.synctex.gz
documentation/developers/deveoperguide.aux
documentation/developers/deveoperguide.log
documentation/developers/deveoperguide.pdf
documentation/developers/deveoperguide.synctex.gz
documentation/developers/deveoperguide.toc
phycas/Tests/ExplorePrior/nodata.nex.p
phycas/Tests/ExplorePrior/nodata.nex.t
phycas/Tests/ExplorePrior/nodata.nex.txt
phycas/Tests/FixedParams/fixed.p
phycas/Tests/FixedParams/fixed.t
phycas/Tests/FixedParams/output.txt
phycas/Tests/GTRTest/gtr_test.p
phycas/Tests/GTRTest/gtr_test.t
phycas/Tests/GTRTest/output.txt
phycas/Tests/LikelihoodTest/check.nex
phycas/Tests/PDFTree/test.pdf
phycas/Tests/SplitTest/out.txt
phycas/Tests/Sump/logfile.txt
phycas/Tests/Sumt/logfile.txt
phycas/Tests/Sumt/splits.pdf
phycas/Tests/Sumt/trees.pdf
phycas/Tests/Sumt/trees.tre
phycas/Tests/Underflow/output.txt
phycas/Tests/diffs.txt
