include LICENSE
include INSTALL
include BUGS
include phycas.bat
include install_phycas.bat
include Jamroot
include phycasver.txt
include phycas/Tests/runall.py
include phycas/Tests/doctestall.py

exclude setup.py


